.Card-container {
    background-color: #f3f2e9;
    position: relative;
    width: 50%;
    height: 23rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Card-content {
    text-align: center;
    font-size: 1.5rem;
}