.Card-container {
    background-color: #f3f2e9;
    position: relative;
    width: 50%;
    height: 23rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Card-content {
    text-align: center;
    font-size: 1.5rem;
}

.Card-content-OK {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(184, 184, 184);
}

.Card-OK {
    position: absolute;
    top: 0;
    left: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: green;
}